<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.rngfun">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_favorite_black_48dp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_favorite_black_48dp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HeadsOrTailsFair"
            android:label="Heads or Tails?"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RockPaperScissors"
            android:label="Rock, Paper, or Scissors?!"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".GiveRandomNumbers"
            android:label="Giving Actual Random Number!"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MathGame"
            android:label="Math Fun!"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".NameActivity"
            android:label="We&apos;ll pick for you!!"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>